

<div class="d-flex justify-content-center">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" >
    <mat-button-toggle value="{{show.value}}" ngDefaultControl (change)="SetTypeQuat($event.value,true)" *ngFor="let show of Shows">{{show.name}}</mat-button-toggle>
  </mat-button-toggle-group>

</div>

<div class="d-flex justify-content-center" *ngIf="Type=='quaterly'">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="{{show.value}}" ngDefaultControl (change)="SetTypeQuat($event.value,false)" [(ngModel)]="Quartar" *ngFor="let show of Shows2">{{show.name}}</mat-button-toggle>
  </mat-button-toggle-group>

</div>

<div class="h-100 d-flex align-items-center justify-content-center">
  <div id="container"></div>
</div>




