h1{
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.tabtext{
  width: 70%;
}

.tabtexttot{
  width: 70%;
  font-weight: 600;
}

h3{
  text-align: center;
  color: red;
}

h4{
  text-align: center;
  font-weight: 500;
}


.container {
  position: relative;
  /* Add any other styles for the container */
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
  /* Add any other styles for the heading */
}


.total{
  font-weight: 600;
}
