p{
  margin-top: 5px;
}

h1{
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.data-selected {
  background-color: #DEEDF9;
}
.tabtext{
  width: 85%;
}
.seldiv{
  color: #2a2a9f;
    font-size: 15px;
    font-weight: 500;
}

