<h1>EPS</h1>


<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && Submit()">

<div class="container">
  <div class="row">
    <div class="col-sm">

      <mat-form-field class="custom-width" appearance="fill">
        <mat-label>Financial Year</mat-label>
        <input matInput placeholder="ie..2022-23" autocomplete="off"
        name="month"
        [(ngModel)]="form.month"
        #month="ngModel"
        disabled
        required>
      </mat-form-field>
      <div *ngIf="f.submitted && month.errors" class="invalid">
        <div *ngIf="month.errors['required']">Financial Year</div>
      </div>

    </div>
    <div class="col-sm">

      <mat-form-field class="custom-width">
        <mat-label>Ref Month</mat-label>
        <mat-select name="monthq" [(ngModel)]="form.monthq" #monthq="ngModel" required>
          <mat-option *ngFor="let loop of MonthList" [value]="loop.name" [disabled]=loop.isDisable>
            {{loop.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="f.submitted && monthq.errors" class="invalid">
        <div *ngIf="monthq.errors['required']">Month is required</div>
      </div>

    </div>
    <div class="col-sm">

      <mat-form-field class="custom-width">
        <mat-label>EPS</mat-label>
        <input matInput placeholder="i.e..Rs. 70.93" autocomplete="off"
        name="eps"
        [(ngModel)]="form.eps"
        #eps="ngModel"
        required>
      </mat-form-field>
      <div *ngIf="f.submitted && eps.errors" class="invalid">
        <div *ngIf="eps.errors['required']">EPS is required</div>
      </div>

    </div>
  </div>
</div>

<div class="button" style="text-align: center;">
  <button mat-raised-button color="primary">{{isUpdate?'update':'Submit'}}</button>
</div>

</form>

<div class="d-flex justify-content-between">

  <p class="special"> </p>
  <p class="special"> </p>
  <p class="special">in Rs</p>

</div>



<table class="table table-striped">
  <thead>
      <tr>

          <td>Financial Year</td>
          <td>EPS</td>
          <td>Particular</td>
          <td>Edit</td>
      </tr>
  </thead>
  <tbody>

    <ng-container *ngIf="TabDatas?.length > 0; else emptyMsg">
            <tr *ngFor="let rowdata of TabDatas">


              <td>{{rowdata.Financial_Year}}</td>
              <td>{{rowdata.Fin_Value}}</td>
              <td>{{rowdata.Particular}}</td>
              <td>
                <button mat-icon-button (click)="edit(rowdata)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>

      </tr>
    </ng-container>
      <ng-template #emptyMsg>
        <tr>
          <td class="txt-center" colspan="4"><P>No Data Found.</P></td>
        </tr>
      </ng-template>
  </tbody>
</table>
