.custom-width{
  width: 100%;
}

mat-label
{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

mat-option{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

input[disabled]
{
  color: #000;
  font-size: 16px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

span {
  color: red;
  font-weight: 600;
}
